cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
google-auth==2.34.0
idna==3.8
kubernetes==21.7.0
oauthlib==3.2.2
pyasn1==0.6.0
pyasn1-modules==0.4.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
urllib3==2.2.2
websocket-client==1.8.0